# _quarto.yml content
project:
  type: website
  output-dir: docs

format:
  html:
    theme: cosmo
    css: styles.css

website:
  # title: ""
  navbar:
    left:
      - text: "Accueil"
        href: index.html
      - text: "Exemples"
        href: examples/index.html