.reveal pre code {
  font-size: 1.2em !important;
}

.reveal code {
  font-size: 0.9em !important;
}

.reveal .smaller {
  font-size: 50%;
}

/* Cache TOUTES les scrollbars */
* {
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
}

*::-webkit-scrollbar {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}